//Hello
#hello {
	text-align: center;
	background-color: transparent;
	position: relative;
	padding-top: 5em;
	height: 100vh;
}

#hello-logo {
	margin: 2em auto;
	width: 50%;
}

#hello-profile {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
/*
.col-md-3 {
	margin: 0 !important;
}
.col-sm-8 {
	padding: 0;
	margin: 0;
}*/

.arrow {
	width: 50%;
}

.field img {
	width: 70%;
	max-width: 20em;
	margin: auto;
}
.field:hover img {
	cursor: pointer;
}

.field  i {
	z-index: 6;
	position: absolute;
	width: 100%;
	bottom: 50%;
    left:0;
	visibility: hidden;
}

.field:hover  i {
	opacity: 1;
	visibility: visible;
}

.text {
	visibility: visible;
	text-align: justify;
	z-index: 5;
	background-color: transparent;
	/*position: relative;
	width: 400%;
	left: -300%;*/
}

//Itemverschiebungen
.rightElement {
	top: initial;
	position: absolute;
}
.special {
	margin-right: 1px;
}
//Buttons
.moreItems,
.lessItems {
	width: 100%;
	font-size: 1.2em;
	padding: 2em;
    border: none;
    background-color: transparent;
    color: $cosoBlue01;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#produkte {
	.produkt {
		background-color: white;
		padding: 1em;
		width: calc(100% - 2em);
		box-shadow: 5px 5px 10px lightgrey;
		margin: 0.5em;
		position: relative;

		p {
			text-align: justify;
		}

		.prodBorder {
			border-bottom: solid black 0.1em;
			padding: 1em;
		}
		.btn {
			margin-top: 1em;
			background-color: $cosoBlue01;
			color: white;
		}
	}

	h2 {
		font-size: 1.4em;
		text-transform: uppercase;
	}
	
	img {
		padding: 1.5em 0.5em;
		float: left;
		width: calc(30% - 1em);
	}
	.prodText {
		padding-left: 2em;
		text-align: left;
		float: left;
		width: calc(70% - 2em);
		li {
			margin-left: 1em;
		}
	}
}

//unternehmen
#unternehmen {
	img {
		width: 30%;
	}

	ul {
		padding-left: 1em;
		list-style: none;
	}
	li p {
		margin: 0;
	}
}

//partner
#partner {
	.field:hover {
		background-color: white;
		border-radius: 50%;
	}

	.item img {
		height: 100%;
		padding: 0.5em;
	}
	.fa {
		position: absolute;
		margin-top: 1px;
		margin-bottom: 1px;
	}
}
//team
#team {
	.field {
		position: relative;
		padding-bottom: 1em;
	}
	.field img {
		height: 27em;
	}
}

//Kontakt
#kontakt {
	p {
		text-align: justify;
	}
	
	.contact-us {
		padding: 1.5em 0;
	}

	.social-media {
		padding: 2em;
	}

	.contact-icon {
		float: left;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}

	.social-media button {
		float: left;
		margin: 0.2em;
		background-color: #2B425C;
		color: white;
		border: none;
		width: 4em;
		height: 4em;
	}
	.form-control {
		font-size: 1.2em;
		padding: 1.2em;
		width: calc(100% - 1.9em);
		border: 0.2em solid #2B425C;
		margin: 1em;
	}

	#contact-form-senden {
		font-size: 1.2em;
		padding: 1.5em;
		border: none;
		background-color: $cosoBlue01;
		color: white;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
} 
