//Hello
#hello {
	text-align: center;
	background-color: transparent;
	position: relative;
	padding-top: 25vh;
	height: 100vh;

	.subtitle {
		font-size: 2.5em;
		display: inline-block;
	}
	.subtitles {
		text-align: center;
		width: 100%;
		margin: auto;
	}
}

#hello-logo {
	margin: 2em auto;
	width: 50%;
}

#hello-profile {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#angebote-details {
	p {
		margin-bottom: 5px;
	}
	.text p {
		margin-bottom: 0;
	}
	.text {
		margin-bottom: 0.3em;
	}
	.container {
		width: 100%;
		margin: auto;
	}
}
#team-details {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
	#container {
		max-width: 40em;
	}
	div {
		margin: auto;
		//max-width: 30em;
	}
	.img-c {
		position: relative;
		max-width: 25em;
		height: 15em;
		overflow: hidden;
		
		margin-bottom: 1em;
		//background-color: indianred;
	}
	
	img {
		position: absolute;
		left: 50%;
		top: 100%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-42%);
			-ms-transform: translate(-50%,-42%);
				transform: translate(-50%,-42%);
	}
	img.portrait {
		width: 100%;
		height: auto;
	}
}

.arrow {
	width: 100%;
	position: absolute;
	left: 0;
}

.field img {
	width: 70%;
	max-width: 20em;
	margin: auto;
}
.field:hover img {
	cursor: pointer;
}

.field  i {
	z-index: 6;
	position: absolute;
	width: 100%;
	bottom: 55%;
    left:0;
	visibility: hidden;
}

.field:hover  i {
	opacity: 1;
	visibility: visible;
}
.text {
	margin: auto;
	text-align: left;
	visibility: visible;
	z-index: 5;
	background-color: transparent;
}

//Buttons
.moreItems,
.lessItems {
	width: 100%;
	font-size: 1.2em;
	padding: 2em;
    border: none;
    background-color: transparent;
    color: $cosoBlue01;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#angebot {
	h3 {
		text-align: center;
	}
}


//#produkte {
	.produkt {
		max-width: 30em;
		margin: auto;
		margin-bottom: 1.5em;
		background-color: white;
		border: 0.1em solid black;
		padding: 0.5em;
		box-shadow: 5px 5px 10px lightgrey;
		p {
			text-align: left;
		}

		.prodBorder {
			border-bottom: solid black 0.1em;
			padding: 1em;
		}
		
		.btn-div {
			//position: absolute;
			bottom: 3em;
			
		}
		h2 {
			font-size: 1.4em;
			text-transform: uppercase;
		}
	
		img {
			padding: 1.5em 0.5em;
			float: left;
			width: calc(30% - 1em);
		}
		.prodImg {
			float: none;
			margin: auto;
			width: 60%;
		}
	}

	.prodSubtitle {
		padding: 1em 3em;
		text-align: left;
	}

	.prodText {
		padding-left: 2em;
		text-align: left;
		float: left;
		width: calc(70% - 2em);
		li {
			margin-left: 1em;
		}
	}

	.landing-prod {
		img {
			width: calc(20% + 2em);
		}

		.prodText {
			width: calc(80% - 2em);
		}
		li {
			margin-left: 0.5em;
		}
		h3 {
			font-size: 1em;
		}
	}
//}

//unternehmen
#unternehmen {
	h2 {	
		font-size: 1.4em;
		text-transform: uppercase;
		text-align: center;
	}
	img {
		width: 50%;
	}

	ul {
		padding-left: 1em;
		//list-style: none;
	}
	li p {
		margin: 0;
	}
}

//partner
#partner {
	.field:hover {
		background-color: white;
		border-radius: 50%;
	}

	.item img {
		height: 100%;
		padding: 0.5em;
	}
	.fa {
		position: absolute;
		margin-top: 1px;
		margin-bottom: 1px;
	}
}


//team
#team {
	.item {
		margin-bottom: 2em;
	}
	.field {
		position: relative;
	}
	.field img {
		display: inline-block;
		width: 100%;
	}
	.arrow {
		width: 100%;
		position: absolute;
		left: 0;
	}
	.text {
		padding: 1em
	}
	h3 {
		margin-top: 0.5em;
	}
}

//Kontakt
#kontakt {
	p {
		text-align: justify;
	}
	.btn:hover {
		color: $cosoBlue01;
		background-color: white;
		border-color: $cosoBlue01;
	}
}
	.contact-us {
		padding: 1.5em 0;
	}

	.social-media {
		padding: 2em;
	}

	.contact-icon {
		float: left;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}

	.social-media button {
		float: left;
		margin: 0.2em;
		background-color: #2B425C;
		color: white;
		border: none;
		width: 4em;
		height: 4em;
	}
	.form-control {
		font-size: 1.2em;
		padding: 1.2em;
		width: calc(100% - 1.9em);
		border: 0.2em solid #2B425C;
		margin: 1em;
	}

	#contact-form-senden {
		font-size: 1.2em;
		padding: 1.5em;
		border: none;
		background-color: $cosoBlue01;
		color: white;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	