footer {
    float: left;
    width: 100%;
    background-color: $cosoBlue01;
    text-align: center;
    p {
        padding-top: 2em;
        padding-bottom: 2em;    
        white-space: wrap;
        color: white;
    }
}