$cosoBlue01: #2B425C;
$cosoBlue02: rgba(0,131,195,0.5);
$cosoBlue03: rgba(0,131,195,0.5);

$background01: rgba(43, 66, 92, 0.4);


$font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

$MAX_WIDTH: 1200px;
$LARGE_WIDTH: 992px;
$SMALL_WIDTH: 576px;

* {
	margin: 0;
	padding: 0;
	font-family: $font;
	z-index: 0;
}

html {
	margin: auto;
}
body {

	background-image: url("/app/data/images/cloud-02.jpg");
	background-size: cover;
	background-attachment: fixed;
}

h1,
h2 {
	z-index: 2;
	font-weight: 700;
}

h1 {
  	font-size: 5.5vw;
}
h2 {
  	font-size: 3.0vw;
}
h3 {
	text-transform: uppercase;
	color: $cosoBlue01;
  	font-size: 1.8vw;
}
@media all and (min-width: $MAX_WIDTH) {
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 20px;
	}
}
@media all and (min-width: $LARGE_WIDTH) {
	h3 {
		font-size: 18px;
	}
}
@media all and (max-width: $SMALL_WIDTH) {
	h3 {
		font-size: 12px;
	}
}

ul {
  list-style-type: disc;
  text-align: left;
}
/*
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "-";
  text-indent: -5px;
}*/
.maxWidth {
	margin: auto;
	max-width: $MAX_WIDTH;

}
.container {
	width: 100%;
	float: left;
	text-align: center;
	border-bottom: $background01 0.1em solid;
	padding-bottom: 1.5em;
}

.container:nth-child(2n+1) {
	background-color: white;
	
}
.container:nth-child(2n) {
	background-color: rgba(255,255,255,0.8);
}
.container h1 {
	text-transform: uppercase;
	padding: 0.5em;
	font-size: 1.9em;
	color: $cosoBlue01;
}

hr {
	margin-left: calc(100%/2 - 10em);
	margin-bottom: 2em;
	border: 0;
	height: 0.3em;
	background-color: $cosoBlue01;
	width: 20em;
}

.hide {
	visibility: hidden;
	//display: none;
}


.highlighted {
	font-weight: bold;
}
.zitat {
	font-size: 1.2em;
	font-style: italic;
}
.ueberschrift,
.first {
	font-weight: 700;
	font-size: 1em;
	color: $cosoBlue01;
}
.last,
.ueberschrift2 {
	font-size: 0.8em;
	color: $cosoBlue01;
}

.row {
	float: left;
	width: 50%;
}

.btn {
	background-color: $cosoBlue01;
	border-color: $cosoBlue01;
	color: white;
}

.btn:hover {
	color: $cosoBlue01;
	background-color: white;
	border-color: $cosoBlue01;
}

.order {
	position: absolute;
	//width: 80%;
	background-color: white;
	top: 6em;
	margin: auto;

}
.inactive {
	opacity: 0.3;
}
@import 'carousel';
@import 'header';
@import 'containers';
@import 'footer';
@import 'animations';
