* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 0; }

html {
  margin: auto; }

body {
  background-image: url("/app/data/images/cloud-02.jpg");
  background-size: cover;
  background-attachment: fixed; }

h1,
h2 {
  z-index: 2;
  font-weight: 700; }

h1 {
  font-size: 5.5vw; }

h2 {
  font-size: 3.0vw; }

h3 {
  text-transform: uppercase;
  color: #2B425C;
  font-size: 1.8vw; }

@media all and (min-width: 1200px) {
  h1 {
    font-size: 60px; }

  h2 {
    font-size: 25px; }

  h3 {
    font-size: 20px; } }
@media all and (min-width: 992px) {
  h3 {
    font-size: 18px; } }
@media all and (max-width: 576px) {
  h3 {
    font-size: 12px; } }
ul {
  list-style-type: disc;
  text-align: left; }

/*
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "-";
  text-indent: -5px;
}*/
.maxWidth {
  margin: auto;
  max-width: 1200px; }

.container {
  width: 100%;
  float: left;
  text-align: center;
  border-bottom: rgba(43, 66, 92, 0.4) 0.1em solid;
  padding-bottom: 1.5em; }

.container:nth-child(2n+1) {
  background-color: white; }

.container:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.8); }

.container h1 {
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 1.9em;
  color: #2B425C; }

hr {
  margin-left: calc(100%/2 - 10em);
  margin-bottom: 2em;
  border: 0;
  height: 0.3em;
  background-color: #2B425C;
  width: 20em; }

.hide {
  visibility: hidden; }

.highlighted {
  font-weight: bold; }

.zitat {
  font-size: 1.2em;
  font-style: italic; }

.ueberschrift,
.first {
  font-weight: 700;
  font-size: 1em;
  color: #2B425C; }

.last,
.ueberschrift2 {
  font-size: 0.8em;
  color: #2B425C; }

.row {
  float: left;
  width: 50%; }

.btn {
  background-color: #2B425C;
  border-color: #2B425C;
  color: white; }

.btn:hover {
  color: #2B425C;
  background-color: white;
  border-color: #2B425C; }

.order {
  position: absolute;
  background-color: white;
  top: 6em;
  margin: auto; }

.inactive {
  opacity: 0.3; }

/*Bootstrap - Part*/
.carousel {
  text-align: center;
  position: relative;
  margin-bottom: 5em; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }

.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1; }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px; }

  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 20px;
  color: #2B425C;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-control.left {
  left: 15px;
  right: auto;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }

.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  color: white;
  text-decoration: none;
  opacity: .9;
  filter: alpha(opacity=90); }

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%; }

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%; }

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif; }

.carousel-control .icon-prev:before {
  content: '\2039'; }

.carousel-control .icon-next:before {
  content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: -3em;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-color: white; }

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #2B425C; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6); }

.carousel-caption .btn {
  text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; } }
.carousel-img {
  /*position: absolute;
  left: 42%;
  bottom: -70px;*/
  width: 16%;
  margin: 1em auto;
  min-width: 6em;
  max-width: 8em; }

header {
  top: 0;
  background-color: #2B425C;
  position: fixed;
  width: 100%;
  z-index: 1; }

header h1,
header h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white; }

header h1 {
  font-size: 1.4em;
  padding: 1.5em 0 1.5em 4.5em; }

header h2 {
  color: #2B425C; }

header p {
  color: #2B425C;
  text-transform: uppercase; }

header ul {
  position: absolute;
  width: 20em;
  list-style: none;
  margin-bottom: 0;
  text-align: right;
  border-bottom: solid #2B425C 0.1em;
  transition-timing-function: ease-out;
  transition: 0.6s;
  transform: translateX(0);
  box-shadow: 5px 0px 15px #2B425C; }

header li {
  cursor: pointer;
  padding: 0.5em;
  background-color: white;
  width: 100%; }

header li:hover {
  background-color: #2B425C; }

header li:hover p {
  color: white; }

/*
header.smallerHead h1 {
	display: none;
}
*/
header button {
  position: fixed;
  left: 0;
  background-color: #2B425C;
  color: white;
  border: none;
  padding: 1.8em;
  top: 0;
  z-index: 100; }

#hello {
  text-align: center;
  background-color: transparent;
  position: relative;
  padding-top: 25vh;
  height: 100vh; }
  #hello .subtitle {
    font-size: 2.5em;
    display: inline-block; }
  #hello .subtitles {
    text-align: center;
    width: 100%;
    margin: auto; }

#hello-logo {
  margin: 2em auto;
  width: 50%; }

#hello-profile {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

#angebote-details p {
  margin-bottom: 5px; }
#angebote-details .text p {
  margin-bottom: 0; }
#angebote-details .text {
  margin-bottom: 0.3em; }
#angebote-details .container {
  width: 100%;
  margin: auto; }

#team-details {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em; }
  #team-details #container {
    max-width: 40em; }
  #team-details div {
    margin: auto; }
  #team-details .img-c {
    position: relative;
    max-width: 25em;
    height: 15em;
    overflow: hidden;
    margin-bottom: 1em; }
  #team-details img {
    position: absolute;
    left: 50%;
    top: 100%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -42%);
    -ms-transform: translate(-50%, -42%);
    transform: translate(-50%, -42%); }
  #team-details img.portrait {
    width: 100%;
    height: auto; }

.arrow {
  width: 100%;
  position: absolute;
  left: 0; }

.field img {
  width: 70%;
  max-width: 20em;
  margin: auto; }

.field:hover img {
  cursor: pointer; }

.field i {
  z-index: 6;
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 0;
  visibility: hidden; }

.field:hover i {
  opacity: 1;
  visibility: visible; }

.text {
  margin: auto;
  text-align: left;
  visibility: visible;
  z-index: 5;
  background-color: transparent; }

.moreItems,
.lessItems {
  width: 100%;
  font-size: 1.2em;
  padding: 2em;
  border: none;
  background-color: transparent;
  color: #2B425C;
  letter-spacing: 3px;
  text-transform: uppercase; }

.btn {
  margin-top: 1em;
  background-color: #2B425C;
  color: white; }

.produkt {
  max-width: 30em;
  margin: auto;
  margin-bottom: 1.5em;
  background-color: white;
  border: 0.1em solid black;
  padding: 0.5em;
  box-shadow: 5px 5px 10px lightgrey; }
  .produkt p {
    text-align: left; }
  .produkt .prodBorder {
    border-bottom: solid black 0.1em;
    padding: 1em; }
  .produkt .btn {
    margin-top: 1em;
    background-color: #2B425C;
    color: white; }
  .produkt .btn-div {
    position: absolute;
    bottom: 3em;
    left: -0.5em; }
  .produkt h2 {
    font-size: 1.4em;
    text-transform: uppercase; }
  .produkt img {
    padding: 1.5em 0.5em;
    float: left;
    width: calc(30% - 1em); }

.prodText {
  padding-left: 2em;
  text-align: left;
  float: left;
  width: calc(70% - 2em); }
  .prodText li {
    margin-left: 1em; }

#unternehmen h2 {
  text-align: center; }
#unternehmen img {
  width: 30%; }
#unternehmen ul {
  padding-left: 1em; }
#unternehmen li p {
  margin: 0; }

#partner .field:hover {
  background-color: white;
  border-radius: 50%; }
#partner .item img {
  height: 100%;
  padding: 0.5em; }
#partner .fa {
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px; }

#team .field {
  position: relative;
  padding-bottom: 1em; }
#team .field img {
  display: inline-block;
  width: 100%; }
#team .arrow {
  width: 100%;
  position: absolute;
  left: 0; }
#team .text {
  padding: 1em; }

#kontakt p {
  text-align: justify; }

.contact-us {
  padding: 1.5em 0; }

.social-media {
  padding: 2em; }

.contact-icon {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em; }

.social-media button {
  float: left;
  margin: 0.2em;
  background-color: #2B425C;
  color: white;
  border: none;
  width: 4em;
  height: 4em; }

.form-control {
  font-size: 1.2em;
  padding: 1.2em;
  width: calc(100% - 1.9em);
  border: 0.2em solid #2B425C;
  margin: 1em; }

#contact-form-senden {
  font-size: 1.2em;
  padding: 1.5em;
  border: none;
  background-color: #2B425C;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase; }

/*
	.form-control {
		//font-size: 1.2em;
		padding: 1.2em;
		//width: calc(100% - 6em);
		border: 0.2em solid #2B425C;
		margin: 1em;
		input {
			width: calc(100% - 6em);
		}
	}
	#contact-form-senden {
		font-size: 1.2em;
		padding: 1.5em;
		border: none;
		background-color: $cosoBlue01;
		color: white;
		letter-spacing: 3px;
		text-transform: uppercase;
	}*/
footer {
  float: left;
  width: 100%;
  background-color: #2B425C;
  text-align: center; }
  footer p {
    padding-top: 2em;
    padding-bottom: 2em;
    white-space: wrap;
    color: white; }

.toLeft {
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  transform: translateX(-110%); }

.moveLeftShow {
  animation: leftAni 0.5s ease-in-out;
  z-index: -1; }

.moveDownShow {
  animation: downAni 0.5s ease-in-out; }

@keyframes leftAni {
  0% {
    left: -25%;
    opacity: 0; }
  100% {
    left: 0%;
    opacity: 1; } }
@keyframes downAni {
  0% {
    top: 50%;
    opacity: 0; }
  100% {
    top: 100%;
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
