//Hello
#hello {
	background-color: $cosoBlue02;
}

#hello p {
	margin: 1em;
	font-size: 2em;
	color: white;
}

#hello-logo {
	margin: 2em;
}

#hello-ms {
	width: 30%;
}

#hello-profile {
	width: 100%
}



.item  {
	float: left;
}

.field:hover img {
	cursor: pointer;
	opacity: 0.5;
}

.field  i {
	visibility: hidden;
}

.field:hover  i {
	opacity: 1;
	visibility: visible;
}

//Angebot
#angebot .angebot-container {
	margin: 1em;
	width: 100%;
	float: left;
}

#angebot .fa {
	position: absolute;
	margin: 75px;
}

#angebot .item {
	width: calc(100% / 3);
}
//unternehmen
#unternehmen .item {
	padding: 1.5em;
	width: calc(100% / 3 - 3em);
}
#unternehmen .item p {
	text-align: justify;
}
#unternehmen .item ul {
	padding: 1em;
	list-style: none;
}

#unternehmen .item img {
	width: 50%;
}


//team
#team .item {
	padding: 1.5em;
	width: calc(100% / 5 - 3em);
}
#team .fa {
	position: absolute;
	margin: 140px 75px 0 75px;
}

//partner
#partner .item {
	margin: 1em;
	width: calc(100% / 4 - 3em);
}

#partner .item img {
	padding: 0.5em;
	background-color: white;
	border-radius: 50%;
}
#partner .fa {
	position: absolute;
	margin: 110px;
}

//Kontakt
#kontakt p {
	text-align: justify;
    margin-bottom: 1em;
}

#kontakt label {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #2B425C;
}
.kontakt-info {
	padding: 2em;
}
.contact-icon {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 2em;
    width: 1em;
}
.contact-us {
    margin-top: 2em;
    float: left;
    width: 50%;
}
.contact-us p {
    text-transform: none;
    text-decoration: none;
}


.social-media button {
    float: left;
    margin: 0.2em;
    background-color: #2B425C;
    color: white;
    border: none;
    width: 4em;
    height: 4em;
}
.form-control {
	font-size: 1.2em;
	padding: 1.2em;
	width: calc(100% - 5em);
    border: 0.3em solid #2B425C;
    margin: 1em;
}

.form-control-2 {
	border: 0;
    border-left: 0.3em solid #2B425C;
    border-bottom: 0.3em solid #2B425C;
}
#contact-form-senden {
	font-size: 1.2em;
	padding: 2em;
    border: none;
    background-color: white;
    color: #2B425C;
    letter-spacing: 3px;
    text-transform: uppercase;
}
