//Hello
#hello {
	text-align: center;
	background-color: $cosoBlue02;
	position: fixed;
	z-index: -100;
	padding-top: 5em;
}

#hello p {
	margin: 1em;
	font-size: 2em;
	color: white;
}

#hello-logo {
	margin: 2em;
}

#hello-ms {
	width: 30%;
}

#hello-profile {
	width: 100%
}

.arrow {
	width: 50%;
}

.item {
	position: relative;
}

.field:hover {
	box-shadow: 0px 0px 20px #888888;
}
.field img {
	width: 70%;
	max-width: 20em;
	margin: auto;
}
.field:hover img {
	cursor: pointer;
	//opacity: 0.5;
	
}

.field  i {
	z-index: 6;
	position: absolute;
	width: 100%;
	bottom: 50%;
    left:0;
	visibility: hidden;
}

.field:hover  i {
	opacity: 1;
	visibility: visible;
}

.text {
	position: absolute; //notlösung
	top: 0; //notlösung
	text-align: justify;
	top: 0;
	z-index: 5;
	background-color: transparent;
	background-color: white; //notlösung
}
#unternehmen img {
	width: 30%;
}
#unternehmen .item p {
	text-align: justify;
}
#unternehmen ul {
	padding-left: 1em;
	list-style: none;
}
#unternehmen li p{
	margin: 0;
}
/*
.rightElement {
	top: initial;
	position: absolute;
}
.oneRow {
	position: relative;
	left: 0;
}
.special {
	margin-right: 1px;
}*/

//partner
#partner .item {
	min-height: 10em;
}

#partner .field:hover {
	
	background-color: lightgray;
	border-radius: 50%;
}

#partner .item img {
	height: 100%;
	padding: 0.5em;
	//background-color: white;
//	border-radius: 50%;
}
#partner .fa {
	position: absolute;
	margin-top: 1px;
	margin-bottom: 1px;
}
#partner .pBtn {
	width: 100%;
	font-size: 1.2em;
	padding: 2em;
    border: none;
    background-color: transparent;
    color: $cosoBlue01;
    letter-spacing: 3px;
    text-transform: uppercase;
}

//Kontakt
#kontakt p {
	text-align: justify;
    margin-bottom: 1em;
}

#kontakt label {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #2B425C;
}
.kontakt-info {
	padding: 2em;
}
.contact-icon {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 2em;
    width: 1em;
}
.contact-us {
    margin-top: 2em;
    float: left;
    width: 50%;
}
.contact-us p {
    text-transform: none;
    text-decoration: none;
}


.social-media button {
    float: left;
    margin: 0.2em;
    background-color: #2B425C;
    color: white;
    border: none;
    width: 4em;
    height: 4em;
}
.form-control {
	font-size: 1.2em;
	padding: 1.2em;
	width: calc(100% - 5em);
    border: 0.3em solid #2B425C;
    margin: 1em;
}

.form-control-2 {
	border: 0;
    border-left: 0.3em solid #2B425C;
    border-bottom: 0.3em solid #2B425C;
}
#contact-form-senden {
	font-size: 1.2em;
	padding: 2em;
    border: none;
    background-color: white;
    color: #2B425C;
    letter-spacing: 3px;
    text-transform: uppercase;
}
