header {
	top: 0;
	background-color: $cosoBlue01;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header h1,
header h2 {
	margin:0;
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
}

header h1 {
	font-size: 1.4em;
	padding: 1.5em 0 1.5em 4.5em;
}

header h2 {
	color: $cosoBlue01;
}

header p {
	color: $cosoBlue01;
	text-transform: uppercase;
}

header ul {
	position: absolute;
	width: 20em;
	list-style: none;
	margin-bottom: 0;
    text-align: right;
	border-bottom: solid $cosoBlue01 0.1em;

	transition-timing-function: ease-out;
	transition: 0.6s;
	transform: translateX(0);
}

header li {
	cursor: pointer;
	padding: 0.5em;
    background-color: white;
    width: 100%;
}

header li:hover {
	background-color: $cosoBlue01;
}

header li:hover p {
	color: white;
}
/*
header.smallerHead h1 {
	display: none;
}
*/

header button {
	position: fixed;
	left: 0;
	background-color: $cosoBlue01;
	color: white;
	border: none;
	padding: 1.8em;
	top: 0;
	z-index: 100;
}
