//Header
.smallDesk header h2 {
    color: $cosoBlue01;
}
.smallDesk header ul {
    width: 100%;
    float: none;
    text-align: center;
}
.smallDesk header li {
    padding: 0.5em;
    background-color: white;
    float: none;
    width: 100%;
}
//Desktop
.desktop #angebot .item {
    width: 33.33%;
}
.desktop #produkte .item {
    width: calc(33.33% - 4.4em);
}
.desktop #unternehmen .item {
    width: calc(33.33% - 4.4em);
}
.desktop #team .item {
    width: calc(25% - 3em);
}
.desktop #partner .item {
    width: calc(25% - 3em);
}
.desktop #kontakt .row {
    width: 50%;
}
//smallDesktop
.smallDesk #team .item {
    width: calc(33.33% - 3em);
} 
.smallDesk #partner .item {
    width: calc(33.33% - 3em);
}
//Ab Tablet
.tablet #angebot .item {
    width: 50%;
}
.tablet #produkte .item {
    width: calc(100% - 4.4em);
}
.tablet #unternehmen .item {
    width: calc(100% - 3em);
}
.tablet #team .item {
    width: calc(50% - 3em);
}
.tablet #partner .item {
    width: calc(50% - 3em);
}
.tablet #kontakt .row {
    width: 100%;
}

//Ab grossen Handys

.mobile-large .item {
    float: left;   
    width: 100%;
}
.mobile-large .item .title {
    display: none;
}
.mobile-large .item .text {
    padding: 1em;
    padding-left: 1.5em;
    text-align: justify;
    left: 30%;
    position: absolute;
    width: calc(70% - 2em);
    background-color: transparent;
}
.mobile-large .item .field {
    float: left;
    width: 30%;
}
.mobile-large .item .img {
    width: 100%;
}
.mobile-large .arrow {
    position: absolute;
    top: 3em;
    font-size: 1.3em;
    left: 80%;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}