* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 0; }

html {
  margin: auto; }

h1,
h2 {
  z-index: 2;
  font-weight: 700; }

p {
  margin: 0.5em; }

#angebot {
  margin-top: 40em; }

.container {
  width: 100%;
  float: left;
  text-align: center;
  background-color: white;
  border-bottom: rgba(43, 66, 92, 0.4) 0.1em solid;
  padding-bottom: 1.5em; }

/*
.container:nth-child(2n+1) {
	background-color: $background01;
}
.container:nth-child(2n) {
	background-color: white;
}*/
.container h1 {
  text-transform: uppercase;
  padding: 0.7em;
  font-size: 2.2em;
  color: #2B425C; }

hr {
  margin-left: calc(100%/2 - 10em);
  margin-bottom: 2em;
  border: 0;
  height: 0.3em;
  background-color: #2B425C;
  width: 20em; }

.hide {
  visibility: hidden; }

.toLeft {
  transition-timing-function: ease-in;
  transition: 0.4s;
  transform: translateX(-100%); }

.highlighted {
  font-weight: bold;
  font-style: italic; }

.ueberschrift {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: #2B425C; }

.row {
  float: left;
  width: 50%; }

.btn {
  background-color: white; }

/*Bootstrap - Part*/
.carousel {
  text-align: center;
  position: relative;
  margin-bottom: 5em; }

.carousel-inner {
  position: relative;
  overflow: hidden; }

.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0;
  width: 100%; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-control.left {
  left: 15px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }

.carousel-control.right {
  left: auto;
  right: 0;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }

.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  color: #000;
  text-decoration: none;
  opacity: .9;
  filter: alpha(opacity=90); }

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%; }

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%; }

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif; }

.carousel-control .icon-prev:before {
  content: '\2039'; }

.carousel-control .icon-next:before {
  content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: -3em;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 131, 195, 0.5); }

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6); }

.carousel-caption .btn {
  text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; } }
.carousel-img {
  width: 25%;
  margin: 1em auto; }

header {
  top: 0;
  background-color: #2B425C;
  position: fixed;
  width: 100%;
  z-index: 1; }

header h1,
header h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white; }

header h1 {
  font-size: 1.4em;
  padding: 1.5em 0 1.5em 4.5em; }

header h2 {
  color: #2B425C; }

header p {
  color: #2B425C;
  text-transform: uppercase; }

header ul {
  position: absolute;
  width: 20em;
  list-style: none;
  margin-bottom: 0;
  text-align: right;
  border-bottom: solid #2B425C 0.1em;
  transition-timing-function: ease-out;
  transition: 0.6s;
  transform: translateX(0); }

header li {
  cursor: pointer;
  padding: 0.5em;
  background-color: white;
  width: 100%; }

header li:hover {
  background-color: #2B425C; }

header li:hover p {
  color: white; }

/*
header.smallerHead h1 {
	display: none;
}
*/
header button {
  position: fixed;
  left: 0;
  background-color: #2B425C;
  color: white;
  border: none;
  padding: 1.8em;
  top: 0;
  z-index: 100; }

#hello {
  text-align: center;
  background-color: rgba(0, 131, 195, 0.5);
  position: fixed;
  z-index: -100;
  padding-top: 5em; }

#hello p {
  margin: 1em;
  font-size: 2em;
  color: white; }

#hello-logo {
  margin: 2em; }

#hello-ms {
  width: 30%; }

#hello-profile {
  width: 100%; }

.col-md-3 {
  margin: 0 !important;
  padding: 0.2em !important; }

.arrow {
  width: 50%; }

.item {
  position: relative; }

.field:hover {
  box-shadow: 0px 0px 15px lightgray; }

.field img {
  width: 70%;
  max-width: 20em;
  margin: auto; }

.field:hover img {
  cursor: pointer; }

.field i {
  z-index: 6;
  position: absolute;
  width: 100%;
  bottom: 50%;
  left: 0;
  visibility: hidden; }

.field:hover i {
  opacity: 1;
  visibility: visible; }

.text {
  position: absolute;
  top: 0;
  text-align: justify;
  top: 0;
  z-index: 5;
  background-color: transparent;
  background-color: white; }

#produkte .produkt {
  background-color: rgba(0, 131, 195, 0.5);
  padding: 1em;
  width: calc(100% - 2em);
  box-shadow: 10px 10px 15px #2B425C;
  margin: 1em; }

#produkte h2 {
  text-transform: uppercase; }

#unternehmen img {
  width: 30%; }

#unternehmen .item p {
  text-align: justify; }

#unternehmen ul {
  padding-left: 1em;
  list-style: none; }

#unternehmen li p {
  margin: 0; }

/*
.rightElement {
	top: initial;
	position: absolute;
}
.oneRow {
	position: relative;
	left: 0;
}
.special {
	margin-right: 1px;
}*/
#team .item {
  text-align: justify; }

#partner .item {
  min-height: 10em; }

#partner .field:hover {
  background-color: lightgray;
  border-radius: 50%; }

#partner .item img {
  height: 100%;
  padding: 0.5em; }

#partner .fa {
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px; }

#partner .pBtn {
  width: 100%;
  font-size: 1.2em;
  padding: 2em;
  border: none;
  background-color: transparent;
  color: #2B425C;
  letter-spacing: 3px;
  text-transform: uppercase; }

#kontakt p {
  text-align: justify;
  margin-bottom: 1em; }

#kontakt label {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #2B425C; }

.kontakt-info {
  padding: 2em; }

.contact-icon {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 2em;
  width: 1em; }

.contact-us {
  margin-top: 2em;
  float: left;
  width: 50%; }

.contact-us p {
  text-transform: none;
  text-decoration: none; }

.social-media button {
  float: left;
  margin: 0.2em;
  background-color: #2B425C;
  color: white;
  border: none;
  width: 4em;
  height: 4em; }

.form-control {
  font-size: 1.2em;
  padding: 1.2em;
  width: calc(100% - 5em);
  border: 0.3em solid #2B425C;
  margin: 1em; }

.form-control-2 {
  border: 0;
  border-left: 0.3em solid #2B425C;
  border-bottom: 0.3em solid #2B425C; }

#contact-form-senden {
  font-size: 1.2em;
  padding: 2em;
  border: none;
  background-color: white;
  color: #2B425C;
  letter-spacing: 3px;
  text-transform: uppercase; }

footer {
  float: left;
  width: 100%;
  background-color: #2B425C;
  text-align: center; }

footer p {
  padding-top: 2em;
  padding-bottom: 2em;
  white-space: wrap;
  color: white; }

/*
.desktop #angebot .item {
    width: 33.33%;
}
.desktop #produkte .item {
    width: calc(33.33% - 4.4em);
}
.desktop #unternehmen .item {
    width: calc(33.33% - 4.4em);
}
.desktop #team .item {
    width: calc(25% - 3em);
}
.desktop #partner .item {
    width: calc(25% - 3em);
}
.desktop #kontakt .row {
    width: 50%;
}*/
/*
.smallDesk #team .item {
    width: calc(33.33% - 3em);
} 
.smallDesk #partner .item {
    width: calc(33.33% - 3em);
}*/
/*
.tablet #angebot .col-md-4 {
    width: 50%;
}

.tablet #produkte .col-md-4 {
    width: calc(100% - 4.4em);
}
.tablet #unternehmen .col-md-4 {
    width: calc(100% - 3em);
}
.tablet #team .col-md-3 {
    float: left;
    width: calc(50% - 3em);
}
.tablet #partner .col-md-4 {
    width: calc(50% - 3em);
}
.tablet #kontakt .row {
    width: 100%;
}
*/
/*
.mobile-large .item {
    float: left;   
    width: 100%;
}
.mobile-large .item .title {
    display: none;
}
.mobile-large .item .text {
    padding: 1em;
    padding-left: 1.5em;
    text-align: justify;
    left: 30%;
    position: absolute;
    width: calc(70% - 2em);
    background-color: transparent;
}
.mobile-large .item .field {
    float: left;
    width: 30%;
}
.mobile-large .item .img {
    width: 100%;
}
.mobile-large .arrow {
    position: absolute;
    top: 3em;
    font-size: 1.3em;
    left: 80%;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}*/

/*# sourceMappingURL=style.css.map */
