$cosoBlue01: #2B425C;
$cosoBlue02: rgba(0,131,195,0.5);

$background01: rgba(43, 66, 92, 0.4);

$font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

$MAX_WIDTH: 1500px;

* {
	margin: 0;
	padding: 0;
	font-family: $font;
	z-index: 0;
}

html {
	//background-color:$cosoBlue02;
	margin: auto;
	//max-width: $MAX_WIDTH;
}
body {
	//background-color: $cosoBlue02;
}

header {
	//max-width: $MAX_WIDTH;
}

h1,
h2 {
	z-index: 2;
	font-weight: 700;
}

p {
	margin: 0.5em;
}

#content {
	//margin-top: 5em;
}
#angebot {
	margin-top: 40em;
}

.container {
	width: 100%;
	float: left;
	text-align: center;
	background-color: white;
	border-bottom: $background01 0.1em solid;
	padding-bottom: 1.5em;
}

/*
.container:nth-child(2n+1) {
	background-color: $background01;
}
.container:nth-child(2n) {
	background-color: white;
}*/
.container h1 {
	text-transform: uppercase;
	padding: 0.7em;
	font-size: 2.2em;
	color: $cosoBlue01;
}

hr {
	margin-left: calc(100%/2 - 10em);
	margin-bottom: 2em;
	border: 0;
	height: 0.3em;
	background-color: $cosoBlue01;
	width: 20em;
}

.hide {
	visibility: hidden;
	//display: none;
}

.toLeft {
	transition-timing-function: ease-in;
	transition: 0.4s;
	transform: translateX(-100%);

}
.highlighted {
	font-weight: bold;
	font-style: italic;

}
.ueberschrift {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	color: $cosoBlue01;
}

.row {
	float: left;
	width: 50%;
}

.btn {
	background-color: white;
}

@import 'carousel';
@import 'header';
@import 'containers';
@import 'footer';

@import 'responsive';
