$cosoBlue01: #2B425C;
$cosoBlue02: rgba(0,131,195,0.5);

$background01: rgba(43, 66, 92, 0.4);

$font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;


* {
	margin: 0;
	padding: 0;
	font-family: $font;
}

h1,
h2 {
	font-weight: 700;
}

p {
	margin: 0.5em;
}

#content {
	margin-top: 8.8em;
}
.container {
	width: 100%;
	float: left;
	text-align: center;
	min-height: 40em;
}
.container:nth-child(2n+1) {
	background-color: $background01;
}
.container h1 {
	text-transform: uppercase;
	padding: 0.7em;
	font-size: 2.2em;
	color: $cosoBlue01;
}

hr {
	margin-left: calc(100%/2 - 10em);
	margin-bottom: 2em;
	border: 0;
	height: 0.3em;
	background-color: $cosoBlue01;
	width: 20em;
}

.hide {
	display: none;
}

.ueberschrift {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	color: $cosoBlue01;
}

@import 'header';
@import 'containers';