* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1,
h2 {
  font-weight: 700; }

p {
  margin: 0.5em; }

#content {
  margin-top: 8.8em; }

.container {
  width: 100%;
  float: left;
  text-align: center;
  min-height: 40em; }

.container:nth-child(2n+1) {
  background-color: rgba(43, 66, 92, 0.4); }

.container h1 {
  text-transform: uppercase;
  padding: 0.7em;
  font-size: 2.2em;
  color: #2B425C; }

hr {
  margin-left: calc(100%/2 - 10em);
  margin-bottom: 2em;
  border: 0;
  height: 0.3em;
  background-color: #2B425C;
  width: 20em; }

.hide {
  display: none; }

.ueberschrift {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: #2B425C; }

header {
  top: 0;
  background-color: #2B425C;
  position: fixed;
  width: 100%; }

header h1,
header h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: white; }

header h1 {
  font-size: 1.4em;
  padding: 1em; }

header ul {
  float: right;
  list-style: none; }

header li {
  cursor: pointer;
  padding: 1.5em 1em 1.5em 1em;
  float: left; }

header li:hover h2 {
  color: rgba(0, 131, 195, 0.5); }

header.smallerHead h1 {
  display: none; }

#headerLogo {
  border-radius: 50%;
  background-color: white;
  margin: 0.2em;
  padding: 0.5em;
  font-size: 2em; }

#hello {
  background-color: rgba(0, 131, 195, 0.5); }

#hello p {
  margin: 1em;
  font-size: 2em;
  color: white; }

#hello-logo {
  margin: 2em; }

#hello-ms {
  width: 30%; }

#hello-profile {
  width: 100%; }

.item {
  float: left; }

.field:hover img {
  cursor: pointer;
  opacity: 0.5; }

.field i {
  visibility: hidden; }

.field:hover i {
  opacity: 1;
  visibility: visible; }

#angebot .angebot-container {
  margin: 1em;
  width: 100%;
  float: left; }

#angebot .fa {
  position: absolute;
  margin: 75px; }

#angebot .item {
  width: calc(100% / 3); }

#unternehmen .item {
  padding: 1.5em;
  width: calc(100% / 3 - 3em); }

#unternehmen .item p {
  text-align: justify; }

#unternehmen .item ul {
  padding: 1em;
  list-style: none; }

#unternehmen .item img {
  width: 50%; }

#team .item {
  padding: 1.5em;
  width: calc(100% / 5 - 3em); }

#team .fa {
  position: absolute;
  margin: 140px 75px 0 75px; }

#partner .item {
  margin: 1em;
  width: calc(100% / 4 - 3em); }

#partner .item img {
  padding: 0.5em;
  background-color: white;
  border-radius: 50%; }

#partner .fa {
  position: absolute;
  margin: 110px; }

#contact h4, #contact p {
  margin-bottom: 1em; }

#contact label {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #2B425C; }

.contact-icon {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 2em;
  width: 1em; }

.contact-us {
  margin-top: 2em;
  float: left;
  width: 50%; }

.contact-us p {
  text-transform: none;
  text-decoration: none; }

.social-media button {
  float: left;
  margin: 0.2em;
  background-color: #2B425C;
  color: white;
  border: none;
  width: 4em;
  height: 4em; }

.contact-form-group-1 {
  border: 0.3em solid #2B425C;
  margin: 0.5em; }

.contact-form-group-2 {
  border-left: 0.3em solid #2B425C;
  border-bottom: 0.3em solid #2B425C;
  margin: 0.5em; }

#contact-form-senden {
  border: none;
  background-color: white;
  color: #2B425C;
  letter-spacing: 3px;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
