<div id="carousel-{{contentName}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li *ngFor="let i of items"></li>
    </ol>
    <div class="carousel-inner">
        <div *ngFor="let r of items" class="item {{r.state}}">
            <div class="zitat-container">
                <p class="zitat" *ngFor="let para of r.contentStrings">{{para}}</p>
            </div>
            <p class="highlighted">{{r.titles[0]}}</p>
            <p>{{r.titles[1]}}</p>
            <a href="{{r.specialStrings[0]}}">
                <img class="carousel-img" src="{{r.imgPath}}">
            </a>
        </div>
    </div>
    <a class="left carousel-control" (click)="move('carousel-' + [contentName],'prev')">
        <span class="fa fa-chevron-left glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control"  (click)="move('carousel-' + [contentName],'next')">
        <span class="fa fa-chevron-right glyphicon-chevron-right"></span>
    </a>
</div>