<coso-header></coso-header>
<section id="content">
	<section id="hello" class="container">
		<img id="hello-logo" src="app/data/images/logos/logo_color.png">
		<p>SharePoint - Project Server - Service Management - Project Management</p>
		<img id="hello-ms" src="app/data/images/MS-logo_weiss_Feb16_def.png">
		<img id="hello-profile" src="app/data/images/team/profile.png">
	</section>

	<section id="angebot" class="container">
		<h1>Angebot</h1>
		<hr />
		<div class="angebot-container">
			<div class="item" *ngFor="let a of angebote">
				<div class="field" (click)="changeView(a)">
					<i class="fa fa-search-{{a.operator}} fa fa-3x"></i>
					<img src="{{a.imgPath}}">
				</div>
				<h2>{{a.title}}</h2>
				<div id="{{a.id}}" class="hide">
					<p *ngFor="let p of a.description">{{p}}</p>
				</div>
			</div>
		</div>

	</section>

	<section id="produkte" class="container">
		<h1>Produkte</h1>
	</section>

	<section id="referenzen" class="container">
		<h1>Referenzen</h1>
		<hr />
		<div id="div-carousel" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li></li>
		<li *ngFor="let i of referenzen"></li>
	  </ol>
	  <div class="carousel-inner">

	    <div *ngFor="let r of referenzen" class="item {{r.state}}">
			<p *ngFor="let para of r.zitat">{{para}}</p>
			<p>{{r.lecturer}}</p>
			<p>{{r.position}}</p>
			<a href="{{r.link}}">
	      		<img src="{{r.imgPath}}">
			</a>
	    </div>
	  </div>
	  <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev');">
	    <span class="fa fa-chevron-left glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next');">
	    <span class="fa fa-chevron-right glyphicon-chevron-right"></span>
	  </a>
	</div>
	</section>

	<section id="unternehmen" class="container">
		<h1>Unternehmen</h1>
		<hr />
		<p><span class="ueberschrift">{{unternehmen[0].description}}</span></p>
		<div class="item" *ngFor="let p of unternehmen[0].property">
			<img src="{{p.imgPath}}">
			<h3>{{p.title}}</h3>
			<p *ngFor="let para of p.paragraphs">{{para}}</p>
			<ul>
				<li *ngFor="let li of p.list">
					<p>{{li}}</p>
				</li>
			</ul>
		</div>
	</section>
	<section id="team" class="container">
		<h1>Team</h1>
		<hr />
		<div class="team-container">
			<div class="item" *ngFor="let m of team">
				<div class="field" (click)="changeView(m)">
					<i class="fa fa-search-{{m.operator}} fa fa-4x"></i>
					<img src="{{m.imgPath}}">
				</div>
				<h2>{{m.vorname}}</h2>
				<div id="{{m.id}}" class="hide">
					<p *ngFor="let p of m.description">{{p}}</p>
					<a href="mailto:{{m.email}}">Email an {{m.vorname}}</a>
					<a href="{{m.vCardPath}}">vCard</a>
				</div>
			</div>
		</div>
	</section>
	<section id="partner" class="container">
		<h1>Partner</h1>
		<hr />
		<div class="partner-container">
			<div class="item" *ngFor="let p of partner">
				<div class="field" (click)="changeView(p)">
					<i class="fa fa-search-{{p.operator}} fa fa-3x"></i>
					<img src="{{p.imgPath}}">
				</div>
				<div id="{{p.id}}" class="hide">
					<h2>{{p.title}}</h2>
					<p *ngFor="let para of p.description">{{para}}</p>
				</div>
			</div>
		</div>
	</section>
	<section id="kontakt" class="container">
		<h1>Kontakt</h1>
		<hr />
		<div class="row">
			<span class="ueberschrift">Don't hesitate to contact us.</span>
			<div class="kontakt-info">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
					no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				<div class="contact-us">
					<i class="contact-icon fa fa-2x fa-phone"></i>
					<p>+41 32 322 67 05</p>
				</div>
				<div class="contact-us">
					<i class="contact-icon fa fa-2x fa-map-marker"></i>
					<p>Schöneggstrasse 5</p>
					<p>2503 Biel/Bienne</p>
				</div>
				<div class="contact-us">
					<i class="contact-icon fa fa-2x fa-envelope-o"></i>
					<p>info@corporatesoftware.ch</p>
				</div>
				<div class="contact-us">
					<i class="contact-icon fa fa-2x fa-clock-o"></i>
					<p>Montag - Freitag:</p>
					<p>8:00 - 17:00</p>
				</div>
				<div class="social-media">
					<button><i class="fa fa-2x fa-facebook"></i></button>
					<button><i class="fa fa-2x fa-twitter"></i></button>
					<button><i class="fa fa-2x fa-linkedin"></i></button>
					<button><i class="fa fa-2x fa-xing"></i></button>
					<button><i class="fa fa-2x fa-windows"></i></button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<form name="sentMessage" id="contactForm" novalidate>
					<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
					<input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email address.">
					<input type="tel" class="form-control" placeholder="Telefon" id="phone" required data-validation-required-message="Please enter your phone number.">
					<textarea rows="5" class="form-control form-control-2" placeholder="Nachricht" id="message" required data-validation-required-message="Please enter a message."></textarea>
					<button type="submit" id="contact-form-senden" class="btn btn-success btn-lg">Senden</button>
				</form>
			</div>
		</div>
	</section>

	<section id="standort" class="container">
		<h1>Standort</h1>
		<hr />
		<div style="width: 100%;text-align: center;">
			<div id="googleMap" style="width:calc(100%-40px);height:450px;"></div>
		</div>
	</section>
</section>