<header>
	<h1>Corporate Software AG</h1>
	<a href="#"><img id="headerLogo" src="app/data/images/cosologo.png"></a>
	<ul>
		<a href="#angebot"><li><h2>Angebot</h2></li></a>
		<a href="#produkte"><li><h2>Produkte</h2></li></a>
		<a href="#referenzen"><li><h2>Referenzen</h2></li></a>
		<a href="#unternehmung"><li><h2>Unternehmung</h2></li></a>
		<a href="#team"><li><h2>Team</h2></li></a>
		<a href="#partner"><li><h2>Partner</h2></li></a>
		<a href="#kontakt"><li><h2>Kontakt</h2></li></a>
		<a href="#standort"><li><h2>Standort</h2></li></a>
	</ul>
</header>