
<div id="item-{{i.id}}" class="item" *ngFor="let i of showItems; let ind = index">
    <div id="standard-{{i.id}}" *ngIf="!i.flags[1] && !i.flags[2]"> <!-- !hasFixText && !isLink -->
        <div id="field-{{i.id}}" class="field" (click)="deactivateOthers(allItems, i);changeView(i, ind)">
            <img src="{{i.imgPath}}">
            <i class="fa fa-search-{{i.getOperator()}} fa fa-3x"></i>
        </div>
        <h3>{{i.titles[0]}}</h3>
        <div id="text-{{i.id}}" class="text hide">
            <p *ngFor="let para of i.contentStrings">{{para}}</p>
            <ul class="col-xs-4">
                <li *ngFor="let li of i.specialStrings">
                    <p>{{li}}</p>
                </li>
            </ul>
            <ul class="col-xs-4">
                <li *ngFor="let li of i.specialStrings2">
                    <p>{{li}}</p>
                </li>
            </ul>
            <ul class="col-xs-4">
                <li *ngFor="let li of i.specialStrings3">
                    <p>{{li}}</p>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="!i.flags[3] && i.flags[1]"> <!-- !isProduct && hasFixText-->
        <div id="field-{{i.id}}" class="field" >
            <img class="img" src="{{i.imgPath}}">
        </div>
        <div id="text-{{i.id}}" class="text" >
            <h2 *ngFor="let t of i.titles">{{t}}</h2>
            <p *ngFor="let p of i.contentStrings">{{p}}</p>
            <ul>
                <li *ngFor="let li of i.specialStrings">{{li}}</li>
            </ul>
        </div>
    </div>

    <div *ngIf="i.flags[3]"> <!--isProduct -->
        <div id="{{i.id}}" class="produkt">
            <div class="prodBorder"><h2>{{i.titles[0]}}</h2></div>
            <div class="prodBorder"><p *ngFor="let para of i.contentStrings">{{para}}</p></div>
            <div>
                <img src="app/data/images/produkte/customizing.png">
                <div class="prodText">
                    <h3>Customizing</h3>
                    <ul>
                        <li>Bedürfnisanpassung</li>
                        <li>Branding</li>
                    </ul>
                </div>
            </div>
            <div>
                <img src="app/data/images/produkte/consulting.png">
                <div class="prodText">
                    <h3>Consulting</h3>
                    <ul>
                        <li>Analyse Aktuelle Umgebung</li>
                        <li>Anforderungsaufnahme</li>
                    </ul>
                </div>
            </div>
            <div>
                <img src="app/data/images/produkte/training.png">
                <div class="prodText">
                    <h3>Training</h3>
                    <ul>
                        <li>Schulung Mitarbeiter</li>
                        <li>1 x p. Jahr Schulung über Neuerungen</li>
                    </ul>
                </div>
            </div>
            <div class="prodBorder"><button class="btn">zum Produkt</button></div>
        </div>
    </div>

    <div *ngIf="i.flags[2]"> <!-- isLink -->
        <a href="{{i.specialStrings[0]}}" target="_blank">
            <div id="field-{{i.id}}" class="field" (click)="deactivateOthers(allItems, i);changeView(i, ind)">
                <img src="{{i.imgPath}}">
                <i class="fa fa-search-{{i.operator}} fa fa-3x"></i>
            </div>
        </a>
    </div>
</div>

<div id="showMoreLessButtons-{{contentName}}" class="hide">
    <button class="btn moreItems" (click)="moreItems()">Zeige mehr</button>
    <button class="btn lessItems hide" (click)="lessItems()">Zeige weniger</button>
</div>




