<section class="container" *ngFor="let class of sections" id="{{class.id}}">
    <h1>{{class.title}}</h1>
    <hr />
    <div *ngFor="let p of class.products" class="col-md-4">
        <div class="produkt">
            <div class="prodBorder"><h2>{{p.size}}</h2></div>
            <div class="col-xs-12" *ngFor="let c of p.content">
                <img src="{{c.imgPath}}">
                <div class="prodText">
                    <h3>{{c.title}}</h3>
                    <ul>
                        <li *ngFor="let li of c.list">{{li}}</li>
                    </ul>
                </div>
            </div>
            <div class="prodBorder"><button [routerLink]="['/products']" class="btn">{{p.button}}</button></div>
        </div>
        <br />
    </div>
    
</section>