<section class="container" *ngFor="let class of sections" id="{{class.id}}">
    <h1>{{class.title}}</h1>
    <hr />
    <p *ngFor="let text of class.subtitles;" class="prodSubtitle" >{{text}}</p>
    <div *ngFor="let p of class.products" class="col-md-4">
        <div class="landing-prod produkt">
            <div class="prodBorder"><h2>{{p.size}}</h2></div>
            <div class="col-xs-12" *ngFor="let c of p.content">
                <img src="{{c.imgPath}}">
                <div class="prodText">
                    <h3>{{c.title}}</h3>
                    <ul>
                        <li *ngFor="let li of c.list">{{li}}</li>
                    </ul>
                </div>
            </div>
            <div class="btn-div"><button [routerLink]="['/products']" (click)="goTo('Anfrageformular');" class="btn">{{p.button}}</button></div>
        </div>
    </div>
</section>
<section id="Anfrageformular" class="container">
    <h1>Anfrageformular</h1>
    <hr />
    <form onchange="mail(this)" name="sendOrder" id="contactProdForm" novalidate>
        <div class="col-xs-12">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Firmenname*" id="name" required data-validation-required-message="Please enter your Firm.">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Name*" id="name" required data-validation-required-message="Please enter your name.">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Vorname*" id="vorname" required data-validation-required-message="Please enter your name.">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Strasse/Nr.*" id="strasse" required data-validation-required-message="Please enter your address.">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="PLZ/Ort*" id="plz" required data-validation-required-message="Please enter your plz.">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-6">
                <input type="email" class="form-control" placeholder="Email*" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Produkt* z.B. SharePoint" id="produkt" required data-validation-required-message="Please enter your Product.">
            </div>
            <div class="col-sm-6">
                <input type="number" class="form-control" placeholder="Anz. Lizenzen*" id="lizenzen" required data-validation-required-message="Please enter a numbor of licences.">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <textarea rows="5" class="form-control" placeholder="Kommentar" id="message"></textarea>
            </div>
        </div>
        <p style="color:grey;text-align: left;margin-left:3.5em;">* Dies sind Pflichtfelder</p>
        <button type="submit" id="order-form-senden" class="btn">Unverbindliche Offerte Anfordern</button>
    </form>
</section>