<section *ngFor="let s of sections" id="{{s.id}}" class="container">
    <div class="maxWidth">
        <h1>{{s.title}}</h1>
        <hr />
        <p class="ueberschrift" *ngFor="let text of s.subtitles">{{text}}</p>
        <coso-items *ngIf="s.itemFlag" [contentName]="[s.content]" [showOnlyTopItems]="[s.showOnlyTopItems]" [itemRows]="[s.itemsPerRow]"><div class="loader"></div></coso-items>
        <coso-carousel *ngIf="!s.itemFlag" [contentName]="[s.content]"><div class="loader"></div></coso-carousel>
    </div>
</section>

<section id="kontakt" class="container">
    <div class="maxWidth">
    <h1>Kontakt</h1>
    <hr />
    <div class="col-md-6">
        <span class="ueberschrift">Don't hesitate to contact us.</span>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-phone"></i>
            <p class="col-xs-9">+41 32 322 67 05</p>
        </div>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-map-marker"></i>
            <div class="col-xs-9">
                <p>Schöneggstrasse 5</p>
                <p>2503 Biel/Bienne</p>
            </div>
        </div>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-envelope-o"></i>
            <p class="col-xs-9">info@corporatesoftware.ch</p>
        </div>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-clock-o"></i>
            <div class="col-xs-9">
                <p>Montag - Freitag:</p>
                <p>8:00 - 17:00</p>
            </div>
        </div>
        <div class="col-xs-12 social-media">
            <button><i class="fa fa-2x fa-facebook"></i></button>
            <button><i class="fa fa-2x fa-twitter"></i></button>
            <button><i class="fa fa-2x fa-linkedin"></i></button>
            <button><i class="fa fa-2x fa-xing"></i></button>
            <button><i class="fa fa-2x fa-windows"></i></button>
        </div>
    </div>
    <div class="col-md-6">
        <form name="sentMessage" id="contactForm" novalidate>
            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
            <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email address.">
            <input type="tel" class="form-control" placeholder="Telefon" id="phone" required data-validation-required-message="Please enter your phone number.">
            <textarea rows="5" class="form-control" placeholder="Nachricht" id="message" required data-validation-required-message="Please enter a message."></textarea>
            <button type="submit" id="contact-form-senden" class="btn btn-success btn-lg">Senden</button>
        </form>
    </div>
    </div>
</section>

<section id="standort" class="container">
    <div class="maxWidth">
    <h1>Standort</h1>
    <hr />
    <coso-map></coso-map>
    </div>
</section>