<section *ngFor="let s of sections" id="{{s.id}}" class="container">
    <div class="maxWidth">
        <h1>{{s.title}}</h1>
        <hr />
        <p *ngFor="let text of s.subtitles; let first = first; let last = last" [ngClass]="{ first: first, last: last }">{{text}}</p>
        <coso-items *ngIf="s.itemFlag" [contentName]="[s.content]" [showOnlyTopItems]="[s.showOnlyTopItems]" [itemRows]="[s.itemsPerRow]"><div class="loader"></div></coso-items>
        <coso-carousel *ngIf="!s.itemFlag" [contentName]="[s.content]"><div class="loader"></div></coso-carousel>
    </div>
</section>

<section id="kontakt" class="container">
    <div class="maxWidth">
    <h1>Kontakt</h1>
    <hr />
    <div class="col-md-6">
        <span class="ueberschrift">Contact us!</span>
        <p>Haben Sie Fragen zu unseren Dienstleistungen und Angebote, Interessieren Sie sich für eine Zusammenarbeit oder möchten Sie uns etwas mitteilen? Zögern Sie nicht uns zu kontaktieren.</p>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-phone"></i>
            <p class="col-xs-9">+41 32 322 67 05</p>
        </div>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-map-marker"></i>
            <div class="col-xs-9">
                <p>Schöneggstrasse 5</p>
                <p>2503 Biel/Bienne</p>
            </div>
        </div>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-envelope-o"></i>
            <p class="col-xs-9">info@corporatesoftware.ch</p>
        </div>
        <div class="col-sm-6 contact-us">
            <i class="col-xs-3 fa fa-2x fa-clock-o"></i>
            <div class="col-xs-9">
                <p>Montag - Freitag:</p>
                <p>8:00 - 17:00</p>
            </div>
        </div>
        <div class="col-xs-12 social-media">
            <a href="https://www.facebook.com/CorporateSoftware/" target="_blank"><button><i class="fa fa-2x fa-facebook"></i></button></a>
            <a href="https://twitter.com/CorpSoftCH" target="_blank"><button><i class="fa fa-2x fa-twitter"></i></button></a>
            <a href="https://www.linkedin.com/company-beta/3749970/" target="_blank"><button><i class="fa fa-2x fa-linkedin"></i></button></a>
            <a href="https://www.xing.com/companies/corporatesoftware?sc_o=da980_e" target="_blank"><button><i class="fa fa-2x fa-xing"></i></button></a>
            <a href="https://partnercenter.microsoft.com/de-de/pcv/solution-providers/corporate-software-ag_4298436397/687837_1" target="_blank"><button><i class="fa fa-2x fa-windows"></i></button></a>
        </div>
    </div>
    <div class="col-md-6">
        <form name="sentMessage" id="contactForm" novalidate>
            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
            <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email address.">
            <input type="tel" class="form-control" placeholder="Telefon" id="phone" required data-validation-required-message="Please enter your phone number.">
            <textarea rows="5" class="form-control" placeholder="Nachricht" id="message" required data-validation-required-message="Please enter a message."></textarea>
            <button type="submit" id="contact-form-senden" class="btn btn-success btn-lg">Senden</button>
        </form>
    </div>
    </div>
</section>

<section id="standort" class="container">
    <div class="maxWidth">
    <h1>Standort</h1>
    <hr />
    <coso-map></coso-map>
    </div>
</section>