<section *ngFor="let s of sections" id="{{s.id}}" class="container">
    <div class="maxWidth">
        <h1>{{s.title}}</h1>
        <hr />
        <p class="ueberschrift" *ngFor="let text of s.subtitles">{{text}}</p>
        <coso-items *ngIf="s.itemFlag" [contentName]="[s.content]" [showOnlyTopItems]="[s.showOnlyTopItems]" [itemRows]="[s.itemsPerRow]"><div class="loader"></div></coso-items>
        <coso-carousel *ngIf="!s.itemFlag" [contentName]="[s.content]"><div class="loader"></div></coso-carousel>
    </div>
</section>