<div id="item-{{i.id}}" class="" *ngFor="let i of showItems; let ind = index">
    <div id="team-{{i.id}}" *ngIf="!i.flags[1] && !i.flags[2] && i.flags[5]"> <!-- !hasFixText && !isLink && isTeam -->
        <div>
            <img src="{{i.imgPath}}">
        </div>
        
        
        
        <!--<div id="field-{{i.id}}" class="field" (click)="deactivateOthers(allItems, i);changeView(i, ind)">
            <img src="{{i.imgPath}}">
            <i class="fa fa-search-{{i.getOperator()}} fa fa-3x"></i>
        </div>
        <h3>{{i.titles[0]}}</h3>
        <div id="text-{{i.id}}" class="text hide">
            <p *ngFor="let para of i.contentStrings">{{para}}</p>
            <ul>
                <li><a href="mailto:{{i.specialStrings[0]}}">Email an {{i.titles[0]}}</a></li>
                <li><a href="{{i.specialStrings[1]}}">vCard von {{i.titles[0]}}</a></li>
            </ul>
        </div>-->
    </div>
</div>